img.cursor_pointer:hover {
  opacity: 0.7;
}

#Menu_List_Header > div::-webkit-scrollbar{
  width: 8px;
}

#Menu_List_Header > div::-webkit-scrollbar-track{
  background: #fff;
  border-left: solid 1px #ececec;
}

#Menu_List_Header > div::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 8px;
  box-shadow: inset 0 0 0 2px #fff;
}

a.menu-group-item_Header:hover, a.menu-group-item_Header:focus {
  color: #ffffff !important;
  background:rgb(14, 122, 196, 0.9) !important;
}

#Menu_List_Header {
  top: initial !important;
  position: absolute !important;
  left: -15px !important;
  padding-top: 60px;
}

#Menu_List_Header > .position_abs:first-child {
  height: -webkit-fill-available;
  position: absolute !important;
  overflow-y: scroll;
}

.MouseOverMenu > .Menu_Program_Div a {
  padding: 5px 15px;
}

td.Menu_Picture_Area.menu_cursor_sender:hover {
  background-color: #ecf0f5;
  cursor: pointer;
}

td.Menu_Picture_Area.menu_cursor_sender a {
  text-decoration: none;
}

td.Menu_Picture_Area.menu_cursor_sender:hover img {
  filter: hue-rotate(90deg);
}

.Menu_Program_Div:hover img.Cate_Menu_IMG {
  filter: hue-rotate(90deg);
}

#Menu_List .Crumb_IMG {
  position: absolute;
  left: -100px;
  top: 5px;
}

.syncer-acdn-child li {
  padding-left: 15px !important;
  border-bottom: initial !important;
}

.syncer-acdn-parent li a {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  border-left: solid 1px #3eb6fb !important;
  border-bottom: solid 1px #3eb6fb !important;
  border-radius: 0px 0px 0px 6px;
}

.syncer-acdn-parent li a:hover {
  color: #ffffff !important;
  background:rgb(14, 122, 196, 0.9) !important;
}

.syncer-acdn-parent li a.ProcessDefinitionClick {
  color: #ffffff !important;
  background-color: #0E7AC4 !important;
}
.syncer-acdn-parent li li a {
  background: rgba(32, 151, 171, 0.15);
}

.syncer-acdn-parent li li li a {
  background: rgba(32, 151, 171, 0.3);
}

.syncer-acdn-parent li li li li a {
  background: rgba(32, 151, 171, 0.45);
}

.performer_list div.row > div {
  display:inline-block;
  vertical-align: top;
}

.performer_list div.row_header > div {
  display:inline-block;
}

.performer_list input.performer_id {
  width: 100px;
}

.performer_list input.performer_name {
  width: 200px;
}

#performer_select {
    position: absolute;
    display: none;
    left: 20px;
    top: 180px;
    margin: auto;
    z-index: 1;
    width: 300px;
    border: solid 1px #b8b8b8;
    border-radius: 5px;
    background: #fff;
    padding: 10px;
    
}

.performer_select_row {
    border: solid 1px #b8b8b8;
    border-radius: 5px;
    margin: 1px;
    cursor: pointer;
    height: 24px;
}

.performer_select_row.hover {
    background: f0f8ff;
}

.performer_select_row span {
  margin: 5px;
  vertical-align: middle;
}

.performer_select_row .close_button {
  float:right;
  position: relative;
  margin: 0px;
}

input[type="radio"].label_radio {
  display: none;
}

.button-radio-choice label {
  background-color: #e6e6e6;
  border-radius: 4px;
  color: #c1c1c1;
  line-height: 22px;
  -webkit-transition: none;
  transition: none;
  width: 50px;
  height: 22px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: auto 0px;
  top: -3px;
  cursor: pointer;
  font-weight: bold;
}

.button-radio-choice input[type="radio"]:checked + label {
  top: 0px;
  background-color: #fd72b9;
  cursor: default;
  color: #fff;
}

#peek_profit_window {
  
  position: absolute;
  display: none;
  left: 20px;
  top: 180px;
  margin: auto;
  z-index: 1;
  width: 300px;
  height: 100px;
  border: solid 1px #b8b8b8;
  border-radius: 5px;
  background: #fff;
  padding: 10px;
}

.close_button{
  position:absolute;
  display:inline-block;
  top:0px;
  left:0px;
  width:24px;
  height:24px;
  border:0;
  background-color:dimGray;
  border-radius:32px;
  margin:0;
  padding:0;
  transform:scale(0.5);
  cursor:pointer;
}
.close_button:before{
  content:"";
  position:absolute;
  display:inline-block;
  top:3px;
  left:10px;
  width:4px;
  height:18px;
  border:0;
  margin:0;
  padding:0;
  background-color:white;
  -moz-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
}
.close_button:after{
  content:"";
  position:absolute;
  display:inline-block;
  top:3px;
  left:10px;
  width:4px;
  height:18px;
  border:0;
  margin:0;
  padding:0;
  background-color:white;
  -moz-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
}
.close_button:hover{
  background-color:#0E7AC4;
}

.alert_tooltip {
  position: relative;
}
.alert_tooltip::before,
.alert_tooltip::after {
  position: absolute;
  transition: all 0.3s ease 0s;
  opacity: 0.6;
}
.alert_tooltip::before {
  content: "";
  border: 10px solid transparent;
  border-bottom-color: #ff1111;
  left: 10px;
  top: 14px;
}
.alert_tooltip::after {
  content: attr(data-tooltip);
  display: block;
  padding: 5px;
  background: #ff1111;
  color: #fff;
  border-radius: 5px;
  left: 0;
  top: 34px;
}